.clear {
  transition: 0.6;
}

.showClear {
  margin-top: 20px;
  width: 175px;
}

.hideClear {
  margin: 0;
  width: 0px;
  height: 0;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
