.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 400px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.fields {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px 0;
}

.label {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.labelText {
  margin-left: 17px;
}

.input {
  width: 70%;
}

.btnContainer {
  width: 80%;
  display: flex;
  justify-content: end;
}

.btn {
  margin-top: 19px;
  margin-right: 30%;
}