.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 400px;
  border-radius: 12px;
  font-size: 19px;
  padding: 25px 35px;
  background-color: rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 14px;
}

.price {
  color: rgb(255, 186, 20);
}

.icons {
  display: flex;
  gap: 8px;
}

.icon {
  cursor: pointer;
  color: #fafafa;
  transition: 0.35s;
}

.icon:hover {
  color: rgb(255, 186, 20);
}

.popup {
  color: rgb(255, 186, 20);
  margin-top: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 4px;
}