* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  text-decoration: none;
  width: 100%;
  text-align: center;
  background-color: #141414;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #FFBA14;
  transition: 0.6s;
}

a:hover {
  color: #b8850e;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 7px;
  width: 120px;
  height: 28px;
  font-size: 16px;
  background-color: rgb(255, 186, 20);
  color: #141414;
  transition: 0.6s;
}

button:hover {
  background-color: #b8850e;
}

input {
  border-radius: 5px;
  border: none;
  height: 37px;
  padding: 4px 0 4px 8px;
  display: flex;
  align-items: center;
  color: #fafafa;
  font-size: 15.4px;
  background-color: rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
}

h1 {
  color: #FFBA14;
  font-size: 40px;
}

h2 {
  color: #FFBA14;
  font-size: 35px;
}