.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  align-self: flex-start;
  margin-left: 50px;
  margin-top: 50px;
  text-align: start;
}

.info {
  margin-top: 5px;
  margin-left: 5.5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}