.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.logo {
  font-size: 25px;
}

.links {
  display: flex;
  gap: 15px;
  font-size: 19px;
}

.logOut {
  cursor: pointer;
  font-size: 22px;
  color: #FFBA14;
  transition: 0.6s;
}

.logOut:hover {
  color: #b8850e;
}